html {
  font-size: 12px;
}

.card {
  border-radius: 0 !important;
}

.jumbotron {
  border-radius: 0 !important;
}

@import "./styles/variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./styles/bootswatch.scss";
